In [97]:
import pandas as pd
import numpy as np
import random

from statsmodels.tsa.holtwinters import ExponentialSmoothing
from sklearn.preprocessing import StandardScaler
import torch
from torch import nn
from torch.utils.data import Dataset, DataLoader
from statsmodels.tsa.forecasting.theta import ThetaModel

import warnings
from statsmodels.tools.sm_exceptions import ConvergenceWarning
warnings.simplefilter("ignore", ConvergenceWarning)
warnings.filterwarnings("ignore", message="No frequency information was provided")

In [2]:
# Imports

countries_over_time = pd.read_csv("Countries Over Time.csv")
submission = pd.read_csv("submission_template_countries.csv")

In this part of the project, we use country–month trade values (exports/imports in USD) for 2015–2023 to forecast 12 months of 2024 for each country. Our goal is to maximize out-of-sample accuracy at the country–flow level under missingness and sparsity, producing a complete submission file.

## Initial EDA

In [3]:
countries_over_time.head()

,Country,Total Exports Value ($US),Customs Import Value (Gen) ($US),Month,Year
0,Afghanistan,"31,234,295","1,969,612",Jan,2015
1,Afghanistan,"37,258,645","5,899,848",Feb,2015
2,Afghanistan,"88,786,227","1,447,167",Mar,2015
3,Afghanistan,"39,725,459","2,804,596",Apr,2015
4,Afghanistan,"29,170,536","2,373,845",May,2015

In [4]:
countries_over_time['Country'].nunique()

235

In [5]:
countries_over_time[countries_over_time['Total Exports Value ($US)'].isna()]['Country'].unique()

array(['British Indian Ocean Territories', 'Burundi', 'Christmas Island',
       'Cocos (Keeling) Islands', 'Comoros',
       'Falkland Islands (Islas Malvinas)',
       'Gaza Strip Administered by Israel', 'Guinea-Bissau',
       'Heard and McDonald Islands', 'Korea, North', 'Lesotho', 'Mayotte',
       'Nauru', 'Niue', 'Norfolk Island', 'Pitcairn Islands',
       'San Marino', 'Sao Tome and Principe', 'St Helena',
       'St Pierre and Miquelon', 'Svalbard, Jan Mayen Island', 'Syria',
       'Tokelau', 'Tuvalu', 'Vatican City', 'Wallis and Futuna',
       'West Bank Administered by Israel',
       'Western Sahara (through Dec 2020)'], dtype=object)

In [6]:
countries_over_time[countries_over_time['Customs Import Value (Gen) ($US)'].isna()]['Country'].unique()

array(['Bhutan', 'British Indian Ocean Territories', 'Cuba', 'Eritrea',
       'French Guiana', 'French Southern and Antarctic Lands',
       'Gaza Strip Administered by Israel', 'Guinea-Bissau',
       'Heard and McDonald Islands', 'Iran', 'Kiribati', 'Korea, North',
       'Libya', 'Martinique', 'Mayotte', 'Norfolk Island',
       'Pitcairn Islands', 'South Sudan', 'St Pierre and Miquelon',
       'Svalbard, Jan Mayen Island', 'Timor-Leste', 'Tuvalu',
       'Wallis and Futuna', 'Western Sahara (through Dec 2020)',
       'Unidentified Countries'], dtype=object)

In [8]:
na_exports = countries_over_time.loc[
    countries_over_time['Total Exports Value ($US)'].isna()
].sort_values(['Country', 'Year', 'Month'])

In [9]:
na_exports

,Country,Total Exports Value ($US),Customs Import Value (Gen) ($US),Month,Year
2921,British Indian Ocean Territories,NaN,"1,209,648",Jun,2015
2920,British Indian Ocean Territories,NaN,"1,054,194",May,2015
2926,British Indian Ocean Territories,NaN,"1,487,546",Nov,2015
3658,Burundi,NaN,"566,943",Nov,2022
3670,Burundi,NaN,"446,416",Nov,2023
...,...,...,...,...,...
24638,Western Sahara (through Dec 2020),NaN,"258,837",Sep,2019
24643,Western Sahara (through Dec 2020),NaN,"5,847",Aug,2020
24646,Western Sahara (through Dec 2020),NaN,"10,825",Dec,2020
24642,Western Sahara (through Dec 2020),NaN,122,Mar,2020
24645,Western Sahara (through Dec 2020),NaN,"2,073",Nov,2020

In [78]:
# Month mapping 
month_map = {"Jan":1,"Feb":2,"Mar":3,"Apr":4,"May":5,"Jun":6,
             "Jul":7,"Aug":8,"Sep":9,"Oct":10,"Nov":11,"Dec":12}
countries_over_time["MonthNum"] = countries_over_time["Month"].map(month_map)

for col in ["Total Exports Value ($US)", "Customs Import Value (Gen) ($US)"]:
    countries_over_time[col] = (countries_over_time[col].astype(str)
                      .str.replace(",", "", regex=False)
                      .str.replace("$", "", regex=False)
                      .str.strip())
    countries_over_time[col] = pd.to_numeric(countries_over_time[col], errors="coerce")

# Keep target window and one row per (Country, Year, Month)
monthly = (countries_over_time
    .query("Year >= 2015 and Year <= 2023 and MonthNum.between(1,12)")
    [["Country","Year","MonthNum","Total Exports Value ($US)","Customs Import Value (Gen) ($US)"]]
    .drop_duplicates(subset=["Country","Year","MonthNum"])
)

# Coverage stats
REQUIRED = 9 * 12  # 2015-01 to 2023-12
monthly["both_present"] = (
    monthly["Total Exports Value ($US)"].notna()
    & monthly["Customs Import Value (Gen) ($US)"].notna()
)

coverage = (monthly.groupby("Country")
    .agg(
        months_in_window=("both_present", "size"),
        months_with_both=("both_present", "sum"),
        export_nas=("Total Exports Value ($US)", lambda s: s.isna().sum()),
        import_nas=("Customs Import Value (Gen) ($US)", lambda s: s.isna().sum()),
    )
    .reset_index()
)

clean_full_countries = coverage.query(
    "months_in_window == @REQUIRED and months_with_both == @REQUIRED"
)["Country"].sort_values().reset_index(drop=True)

clean_full_countries

0      Afghanistan
1          Albania
2          Algeria
3          Andorra
4           Angola
          ...
190      Venezuela
191        Vietnam
192          Yemen
193         Zambia
194       Zimbabwe
Name: Country, Length: 195, dtype: object

In [79]:
clean_countries_over_time = (
    countries_over_time[countries_over_time['Country'].isin(clean_full_countries)]
    .reset_index(drop=True)
)

clean_countries_over_time

,Country,Total Exports Value ($US),Customs Import Value (Gen) ($US),Month,Year,MonthNum
0,Afghanistan,31234295.0,1969612.0,Jan,2015,1
1,Afghanistan,37258645.0,5899848.0,Feb,2015,2
2,Afghanistan,88786227.0,1447167.0,Mar,2015,3
3,Afghanistan,39725459.0,2804596.0,Apr,2015,4
4,Afghanistan,29170536.0,2373845.0,May,2015,5
...,...,...,...,...,...,...
21055,Zimbabwe,2722669.0,2444233.0,Aug,2023,8
21056,Zimbabwe,2533642.0,12756433.0,Sep,2023,9
21057,Zimbabwe,3908426.0,15791904.0,Oct,2023,10
21058,Zimbabwe,2121091.0,5578442.0,Nov,2023,11
21059,Zimbabwe,2722789.0,10165732.0,Dec,2023,12

In [80]:
problem_countries_over_time = countries_over_time[~countries_over_time['Country'].isin(clean_full_countries)].reset_index(drop=True)

In [81]:
problem_countries_over_time['Country'].nunique()

40

In [82]:
problem_countries_over_time

,Country,Total Exports Value ($US),Customs Import Value (Gen) ($US),Month,Year,MonthNum
0,Bhutan,144054.0,2020.0,Jan,2015,1
1,Bhutan,127794.0,13976.0,Feb,2015,2
2,Bhutan,145709.0,232.0,Mar,2015,3
3,Bhutan,321183.0,19483.0,Apr,2015,4
4,Bhutan,120129.0,16970.0,May,2015,5
...,...,...,...,...,...,...
3908,Western Sahara (through Dec 2020),6824183.0,NaN,Oct,2020,10
3909,Western Sahara (through Dec 2020),NaN,2073.0,Nov,2020,11
3910,Western Sahara (through Dec 2020),NaN,10825.0,Dec,2020,12
3911,Unidentified Countries,40109.0,NaN,Jul,2016,7
3912,Unidentified Countries,1731375.0,NaN,Dec,2016,12

In [16]:
# For the 40 problem countries: find the LAST observed (non-NA) Export and Import month separately

exp_last = (
    monthly[
        (~monthly['Country'].isin(clean_full_countries))
        & (monthly['Total Exports Value ($US)'].notna())
    ]
    .sort_values(['Country', 'Year', 'MonthNum'])
    .groupby('Country', as_index=False)
    .tail(1)[['Country', 'Year', 'MonthNum']]
    .rename(columns={'Year': 'Last_Export_Year', 'MonthNum': 'Last_Export_MonthNum'})
)

imp_last = (
    monthly[
        (~monthly['Country'].isin(clean_full_countries))
        & (monthly['Customs Import Value (Gen) ($US)'].notna())
    ]
    .sort_values(['Country', 'Year', 'MonthNum'])
    .groupby('Country', as_index=False)
    .tail(1)[['Country', 'Year', 'MonthNum']]
    .rename(columns={'Year': 'Last_Import_Year', 'MonthNum': 'Last_Import_MonthNum'})
)

last_by_series = (
    exp_last
    .merge(imp_last, on='Country', how='outer')
    .sort_values('Country')
    .reset_index(drop=True)
)

last_by_series

,Country,Last_Export_Year,Last_Export_MonthNum,Last_Import_Year,Last_Import_MonthNum
0,Bhutan,2023,12,2023.0,12.0
1,British Indian Ocean Territories,2023,12,2023.0,12.0
2,Burundi,2023,12,2023.0,12.0
3,Christmas Island,2023,12,2023.0,12.0
4,Cocos (Keeling) Islands,2023,11,2023.0,12.0
5,Comoros,2023,12,2023.0,12.0
6,Cuba,2023,12,2023.0,12.0
7,Eritrea,2023,12,2023.0,12.0
8,Falkland Islands (Islas Malvinas),2023,12,2023.0,12.0
9,French Guiana,2023,12,2023.0,12.0
10,French Southern and Antarctic Lands,2023,12,2023.0,12.0
11,Gaza Strip Administered by Israel,2023,8,2023.0,12.0
12,Guinea-Bissau,2023,12,2023.0,11.0
13,Heard and McDonald Islands,2023,12,2023.0,12.0
14,Iran,2023,12,2023.0,12.0
15,Kiribati,2023,12,2023.0,12.0
16,"Korea, North",2023,12,2022.0,9.0
17,Lesotho,2023,12,2023.0,12.0
18,Libya,2023,12,2023.0,12.0
19,Martinique,2023,12,2023.0,12.0
20,Mayotte,2023,11,2023.0,12.0
21,Nauru,2023,12,2023.0,12.0
22,Niue,2023,6,2023.0,12.0
23,Norfolk Island,2023,8,2023.0,12.0
24,Pitcairn Islands,2023,12,2023.0,12.0
25,San Marino,2023,12,2023.0,12.0
26,Sao Tome and Principe,2023,12,2023.0,12.0
27,South Sudan,2023,12,2023.0,12.0
28,St Helena,2023,10,2023.0,12.0
29,St Pierre and Miquelon,2023,12,2023.0,8.0
30,"Svalbard, Jan Mayen Island",2023,10,2023.0,11.0
31,Syria,2023,12,2023.0,12.0
32,Timor-Leste,2023,12,2023.0,12.0
33,Tokelau,2023,12,2023.0,12.0
34,Tuvalu,2023,12,2023.0,12.0
35,Unidentified Countries,2016,12,NaN,NaN
36,Vatican City,2023,11,2023.0,12.0
37,Wallis and Futuna,2023,8,2023.0,11.0
38,West Bank Administered by Israel,2023,12,2023.0,12.0
39,Western Sahara (through Dec 2020),2020,10,2020.0,12.0

Based on this, we can immediately set Western Sahara and Unidentified Countries to be 0 for both Import and Export in 2024 since Western Sahara (through Dec 2020) and Unidentified Countries have no 2021–2023 coverage.

In [17]:
targets = ["Western Sahara (through Dec 2020)", "Unidentified Countries"]
mask = submission['Country'].isin(targets)
submission.loc[mask, ['Pred_Export_USD', 'Pred_Import_USD']] = 0

Next, we can move on to doing prediction modeling for the data that has no problems: clean_countries_over_time

## Modeling for countries with no problems (clean_countries_over_time)

#### First dataset modeling (clean_countries_over_time)
First of all, we are going to compare ETS model vs CNN-LSTM model. To do this, we will be doing rolling folds
That means, we will train on 4 different folds and get the average weighted metrics with the later years holding more weight as it is close to 2024 at the end;
1. Train on 2015 - 2019, predict 2020 (weight = 0.1)
2. Train on 2015 - 2020, predict 2021 (weight = 0.2)
3. Train on 2015 - 2021, predict 2022 (weight = 0.3)
4. Train on 2015 - 2022, predict 2023 (weight = 0.4)

We report sMAPE (scale-free) and MASE (≤1 means beating seasonal-naive). Model selection uses recency-weighted fold scores as mentioned.

At the end, we will then compare, for each commodity, which model did better overall. For whichever model did better for that commodity, it will be used to than train on 2015-2023 and predict the 2024 which will be used for the final submission.

#### Why these two models (ETS vs CNN-LSTM)

1. ETS, Error Trend and Seasonality with additive seasonality + damped trend
Chosen because monthly trade data has strong 12-month seasonality and occasional level/trend shifts. ETS models these components explicitly, needs minimal tuning, is stable with ~108 points, and is interpretable—a reliable baseline that tells us when simple seasonal structure already explains the data.

2. CNN-LSTM (L=24 -> H=12)
Chosen to capture nonlinear seasonal motifs (via CNN) and medium-term dependencies (via LSTM) that ETS can miss. On clean, gap-free series, deep sequence models often show better out-of-sample accuracy, which we’ll verify with rolling folds. The design uses lags only (no leakage) and forecasts the full 12-month horizon directly.

Bottom line: ETS gives a strong, low-variance, interpretable benchmark; CNN-LSTM tests for additional predictive signal (nonlinear/long-memory effects). We keep both, compare them fairly with rolling year-ahead CV, and then use the per-country, per-series winner for the final 2024 forecast.

ETS Model

In [84]:
EXPORT_COL = "Total Exports Value ($US)"
IMPORT_COL = "Customs Import Value (Gen) ($US)"
FOLDS = [2020, 2021, 2022, 2023]
WEIGHTS = {2020: 0.1, 2021: 0.2, 2022: 0.3, 2023: 0.4}
M = 12  # monthly seasonality

def to_ts(df_country, value_col):
    s = (df_country.sort_values(["Year","MonthNum"])
         .assign(date=lambda d: pd.to_datetime(d["Year"]*10000 + d["MonthNum"]*100 + 1, format="%Y%m%d"))
         .set_index("date")[value_col].astype(float))
    return s.asfreq("MS")

def smape(y_true, y_pred):
    y_true = np.asarray(y_true); y_pred = np.asarray(y_pred)
    denom = np.abs(y_true) + np.abs(y_pred)
    denom = np.where(denom == 0, 1.0, denom)
    return 200.0 * np.mean(np.abs(y_pred - y_true) / denom)

def mase(y_true, y_pred, insample, m=12):
    insample = np.asarray(insample)
    if len(insample) <= m: return np.nan
    scale = np.mean(np.abs(insample[m:] - insample[:-m]))
    if scale == 0: return np.nan
    return np.mean(np.abs(np.asarray(y_true) - np.asarray(y_pred))) / scale

def ets_fold_metrics(df_country, value_col):
    s = to_ts(df_country, value_col)
    rows = []
    for year in FOLDS:
        train = s[s.index.year <= (year-1)]
        test  = s[s.index.year == year]
        if len(test) != 12 or len(train) < 2*M:
            rows.append(dict(Year=year, sMAPE=np.nan, MASE=np.nan, used="skip"))
            continue
        model = ExponentialSmoothing(
            train,
            trend="add", damped_trend=True,
            seasonal="add", seasonal_periods=M,
            initialization_method="estimated"
        ).fit(optimized=True)
        fc = model.forecast(12).values
        damped = bool(getattr(model.model, "damped", False))
        rows.append(dict(
            Year=year,
            sMAPE=smape(test.values, fc),
            MASE=mase(test.values, fc, insample=train.values, m=M),
            used=f"ETS(add,add,damped={damped})"
        ))
    out = pd.DataFrame(rows)
    out["Series"] = value_col
    return out

# Run for all clean_countries_over_time
ets_cv_results = []
for country, g in clean_countries_over_time.groupby("Country"):
    for col in (EXPORT_COL, IMPORT_COL):
        res = ets_fold_metrics(g, col)
        res["Country"] = country
        ets_cv_results.append(res)

ets_cv_results = pd.concat(ets_cv_results, ignore_index=True)

In [85]:
ets_cv_results

,Year,sMAPE,MASE,used,Series,Country
0,2020,47.487809,0.577703,"ETS(add,add,damped=False)",Total Exports Value ($US),Afghanistan
1,2021,132.043109,0.812027,"ETS(add,add,damped=False)",Total Exports Value ($US),Afghanistan
2,2022,176.642385,0.403266,"ETS(add,add,damped=False)",Total Exports Value ($US),Afghanistan
3,2023,194.093417,0.588466,"ETS(add,add,damped=False)",Total Exports Value ($US),Afghanistan
4,2020,70.042751,0.836685,"ETS(add,add,damped=False)",Customs Import Value (Gen) ($US),Afghanistan
...,...,...,...,...,...,...
1555,2023,29.877529,0.650524,"ETS(add,add,damped=False)",Total Exports Value ($US),Zimbabwe
1556,2020,83.527668,0.569103,"ETS(add,add,damped=False)",Customs Import Value (Gen) ($US),Zimbabwe
1557,2021,81.043250,0.512356,"ETS(add,add,damped=False)",Customs Import Value (Gen) ($US),Zimbabwe
1558,2022,85.704299,1.200852,"ETS(add,add,damped=False)",Customs Import Value (Gen) ($US),Zimbabwe
1559,2023,77.384935,1.563108,"ETS(add,add,damped=False)",Customs Import Value (Gen) ($US),Zimbabwe

CNN-LSTM Model

We set L=24 (2 seasonal cycles) and H=12 to match the task horizon. All scaling is fit on train only per fold and windows are chronological so there is no leakage

In [87]:
M = 12  # monthly seasonality
L, H = 24, 12  # lookback, horizon
DEVICE = "cuda" if torch.cuda.is_available() else "cpu"

# Helpers
def to_ts(df_country, value_col):
    s = (df_country.sort_values(["Year","MonthNum"])
         .assign(date=lambda d: pd.to_datetime(d["Year"].astype(int)*10000 + d["MonthNum"].astype(int)*100 + 1,
                                               format="%Y%m%d"))
         .set_index("date")[value_col]
         .astype(float)).asfreq("MS")
    return s

def smape(y_true, y_pred, eps=1e-9):
    y_true = np.asarray(y_true); y_pred = np.asarray(y_pred)
    denom = np.abs(y_true) + np.abs(y_pred) + eps
    return float(np.mean(2*np.abs(y_pred - y_true) / denom))

def mase(y_true, y_pred, insample, m=12):
    insample = np.asarray(insample)
    if len(insample) <= m: return np.nan
    scale = np.mean(np.abs(insample[m:] - insample[:-m]))
    if scale == 0: return np.nan
    return float(np.mean(np.abs(np.asarray(y_true) - np.asarray(y_pred))) / scale)

def make_supervised(arr, lookback=L, horizon=H):
    X, Y = [], []
    T = len(arr)
    last_start = T - lookback - horizon
    if last_start < 0:
        return np.empty((0, lookback, 1)), np.empty((0, horizon))
    for t in range(last_start + 1):
        X.append(arr[t:t+lookback])
        Y.append(arr[t+lookback:t+lookback+horizon])
    X = np.asarray(X)[..., None]  # (N, L, 1)
    Y = np.asarray(Y) # (N, H)
    return X, Y

class WindowDataset(Dataset):
    def __init__(self, X, Y):
        self.X = torch.from_numpy(X).float()
        self.Y = torch.from_numpy(Y).float()
    def __len__(self): return self.X.shape[0]
    def __getitem__(self, i):
        # model expects [batch, L, F]; we already have that
        return self.X[i], self.Y[i]

class CNNLSTMForecaster(nn.Module):
    def __init__(self, L=L, H=H, in_feats=1, conv_filters=32, k=5, lstm_units=64, dropout=0.2):
        super().__init__()
        self.conv1 = nn.Conv1d(in_channels=in_feats, out_channels=conv_filters, kernel_size=k, padding="same")
        self.act1 = nn.ReLU()
        self.conv2 = nn.Conv1d(in_channels=conv_filters, out_channels=conv_filters, kernel_size=k, padding="same")
        self.act2 = nn.ReLU()
        self.lstm = nn.LSTM(input_size=conv_filters, hidden_size=lstm_units, batch_first=True)
        self.drop = nn.Dropout(dropout)
        self.fc = nn.Linear(lstm_units, H)
    def forward(self, x):  # x: [B, L, F]
        x = x.transpose(1,2) # [B, F, L] for Conv1d
        x = self.act1(self.conv1(x)) # [B, C, L]
        x = self.act2(self.conv2(x)) # [B, C, L]
        x = x.transpose(1,2) # [B, L, C]
        x, _ = self.lstm(x) # [B, L, U]
        x = x[:, -1, :] # [B, U]
        x = self.drop(x)
        return self.fc(x) # [B, H]

def train_earlystop(model, train_loader, val_loader, epochs=200, lr=1e-3, patience=20):
    opt = torch.optim.Adam(model.parameters(), lr=lr)
    loss_fn = nn.L1Loss()  # MAE works well for sMAPE alignment
    best = float("inf"); best_state=None; wait=0
    for ep in range(1, epochs+1):
        model.train(); tr_loss=0.0; ntr=0
        for xb, yb in train_loader:
            xb, yb = xb.to(DEVICE), yb.to(DEVICE)
            opt.zero_grad()
            pred = model(xb)
            loss = loss_fn(pred, yb)
            loss.backward(); opt.step()
            tr_loss += loss.item()*xb.size(0); ntr += xb.size(0)
        model.eval(); va_loss=0.0; nva=0
        with torch.no_grad():
            for xb, yb in val_loader:
                xb, yb = xb.to(DEVICE), yb.to(DEVICE)
                pred = model(xb)
                va_loss += loss_fn(pred, yb).item()*xb.size(0); nva += xb.size(0)
        va = va_loss / max(1, nva)
        if va < best - 1e-6:
            best = va; best_state = {k:v.detach().cpu().clone() for k,v in model.state_dict().items()}; wait=0
        else:
            wait += 1
            if wait >= patience: break
    if best_state is not None:
        model.load_state_dict(best_state)
    return model


# Fold evaluator (per Country x Series)
def dl_fold_metrics_country_series(df_country, value_col, lookback=L, horizon=H):
    # build series & transforms
    s = to_ts(df_country, value_col)
    y = s.values
    y_log = np.log1p(np.clip(y, a_min=0, a_max=None))
    rows = []
    for year in FOLDS:
        train_idx = s.index.year <= (year-1)
        test_idx = s.index.year == year
        y_tr_log = y_log[train_idx]
        y_te = y[test_idx]
        if (np.sum(test_idx) != horizon) or (len(y_tr_log) < lookback + horizon):
            rows.append(dict(Year=year, sMAPE=np.nan, MASE=np.nan, used="skip"))
            continue

        # Standardize on train only
        mu, sd = float(y_tr_log.mean()), float(y_tr_log.std(ddof=0))
        if sd == 0: sd = 1.0
        y_tr_std = (y_tr_log - mu) / sd

        #supervised windows from train segment
        X, Y = make_supervised(y_tr_std, lookback=lookback, horizon=horizon)
        if X.shape[0] < 8:
            rows.append(dict(Year=year, sMAPE=np.nan, MASE=np.nan, used="insufficient_windows"))
            continue

        # Time-ordered split: last 10% as val
        n = X.shape[0]; split = max(1, int(np.floor(0.9*n)))
        X_tr, Y_tr = X[:split], Y[:split]
        X_va, Y_va = X[split:], Y[split:]

        train_loader = DataLoader(WindowDataset(X_tr, Y_tr), batch_size=64, shuffle=True)
        val_loader = DataLoader(WindowDataset(X_va, Y_va), batch_size=64, shuffle=False)

        # train model
        torch.manual_seed(42)
        model = CNNLSTMForecaster(L=lookback, H=horizon, in_feats=1,
                                  conv_filters=32, k=5, lstm_units=64, dropout=0.2).to(DEVICE)
        model = train_earlystop(model, train_loader, val_loader, epochs=200, lr=1e-3, patience=20)

        # forecast next 12 from last lookback window ending Dec(year-1)
        last_win_std = ((y_tr_log[-lookback:] - mu) / sd).reshape(1, lookback, 1)
        with torch.no_grad():
            pred_std = model(torch.from_numpy(last_win_std).float().to(DEVICE)).cpu().numpy().ravel()

        # invert transforms to USD
        pred_log = pred_std * sd + mu
        pred_usd = np.expm1(pred_log).clip(min=0)

        # metrics on original scale
        sMAPE_val = smape(y_te, pred_usd)
        MASE_val = mase(y_te, pred_usd, insample=y[train_idx], m=M)
        rows.append(dict(Year=year, sMAPE=sMAPE_val, MASE=MASE_val, used="CNN-LSTM"))
    out = pd.DataFrame(rows)
    out["Series"] = value_col
    return out


# Run CV over all perfect countries
dl_cv_results = []
for country, g in clean_countries_over_time.groupby("Country"):
    for col in (EXPORT_COL, IMPORT_COL):
        res = dl_fold_metrics_country_series(g, col, lookback=L, horizon=H)
        res["Country"] = country
        dl_cv_results.append(res)

dl_cv_results = pd.concat(dl_cv_results, ignore_index=True)

In [88]:
dl_cv_results

,Year,sMAPE,MASE,used,Series,Country
0,2020,0.307419,0.311890,CNN-LSTM,Total Exports Value ($US),Afghanistan
1,2021,1.408748,0.969192,CNN-LSTM,Total Exports Value ($US),Afghanistan
2,2022,1.837402,0.841724,CNN-LSTM,Total Exports Value ($US),Afghanistan
3,2023,1.636727,0.539645,CNN-LSTM,Total Exports Value ($US),Afghanistan
4,2020,0.415146,0.345130,CNN-LSTM,Customs Import Value (Gen) ($US),Afghanistan
...,...,...,...,...,...,...
1555,2023,0.222963,0.479510,CNN-LSTM,Total Exports Value ($US),Zimbabwe
1556,2020,0.605520,0.382908,CNN-LSTM,Customs Import Value (Gen) ($US),Zimbabwe
1557,2021,0.509862,0.424408,CNN-LSTM,Customs Import Value (Gen) ($US),Zimbabwe
1558,2022,0.866610,1.247035,CNN-LSTM,Customs Import Value (Gen) ($US),Zimbabwe
1559,2023,0.905627,1.598448,CNN-LSTM,Customs Import Value (Gen) ($US),Zimbabwe

Now compare the two models using the weights mentioned before:

In [91]:
def weighted_summary(cv_df, id_cols=["Country","Series"]):
    df = cv_df.dropna(subset=["sMAPE","MASE"]).copy()
    df["w"] = df["Year"].map(WEIGHTS).astype(float)
    out = (df.groupby(id_cols)
             .apply(lambda d: pd.Series({
                 "w_sMAPE": np.average(d["sMAPE"], weights=d["w"]),
                 "w_MASE":  np.average(d["MASE"],  weights=d["w"]),
             }))
             .reset_index())
    return out

# Weighted summaries (ETS & CNN)
ets_wsummary = weighted_summary(ets_cv_results)
cnn_wsummary = weighted_summary(dl_cv_results)

/var/folders/6z/9dzyg6s964d4mtqp3fy4sxtr0000gn/T/ipykernel_68151/2803960970.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda d: pd.Series({
/var/folders/6z/9dzyg6s964d4mtqp3fy4sxtr0000gn/T/ipykernel_68151/2803960970.py:5: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda d: pd.Series({

In [114]:
# Compact accuracy summary (clean countries)
summary_acc = (
    ets_wsummary.rename(columns={"w_sMAPE":"ETS_w_sMAPE","w_MASE":"ETS_w_MASE"})
    .merge(cnn_wsummary.rename(columns={"w_sMAPE":"CNN_w_sMAPE","w_MASE":"CNN_w_MASE"}),
           on=["Country","Series"], how="inner")
)
summary_acc["sMAPE_gain_%"] = 100.0 * (summary_acc["ETS_w_sMAPE"] - summary_acc["CNN_w_sMAPE"]) / summary_acc["ETS_w_sMAPE"]
acc_report = pd.DataFrame({
    "Pairs": [len(summary_acc)],
    "Mean sMAPE gain vs ETS (%)": [summary_acc["sMAPE_gain_%"].mean()],
    "Share MASE<1 (CNN)": [(summary_acc["CNN_w_MASE"] < 1.0).mean()],
    "Share MASE<1 (ETS)": [(summary_acc["ETS_w_MASE"] < 1.0).mean()],
})
acc_report

   Pairs  Mean sMAPE gain vs ETS (%)  Share MASE<1 (CNN)  Share MASE<1 (ETS)
0    390                   98.802975            0.412821            0.392308

Interpretation: 

1. On average, CNN-LSTM’s recency-weighted sMAPE is ~98.8% lower than ETS’s
2. 41.3% of series had CNN-LSTM beating seasonal-naive (MASE<1)
3. 39.2% of series had ETS beating seasonal-naive

In [92]:
# Merge weighted results
WEIGHTS = {2020: 0.1, 2021: 0.2, 2022: 0.3, 2023: 0.4}


cmp_w = (
    ets_wsummary.rename(columns={"w_sMAPE":"ETS_w_sMAPE","w_MASE":"ETS_w_MASE"})
    .merge(
        cnn_wsummary.rename(columns={"w_sMAPE":"CNN_w_sMAPE","w_MASE":"CNN_w_MASE"}),
        on=["Country","Series"],
        how="inner"
    )
)

# Winner by weighted sMAPE (tie-breaker: weighted MASE; final tie -> ETS)
def pick_winner_weighted(row):
    if pd.isna(row["ETS_w_sMAPE"]) and pd.isna(row["CNN_w_sMAPE"]): 
        return "NA"
    if pd.isna(row["ETS_w_sMAPE"]): 
        return "CNN"
    if pd.isna(row["CNN_w_sMAPE"]): 
        return "ETS"
    if row["ETS_w_sMAPE"] < row["CNN_w_sMAPE"] - 1e-12:
        return "ETS"
    if row["CNN_w_sMAPE"] < row["ETS_w_sMAPE"] - 1e-12:
        return "CNN"
    # tie on sMAPE -> check MASE
    if pd.isna(row["ETS_w_MASE"]) and pd.isna(row["CNN_w_MASE"]): 
        return "ETS"
    if pd.isna(row["ETS_w_MASE"]): 
        return "CNN"
    if pd.isna(row["CNN_w_MASE"]): 
        return "ETS"
    if row["ETS_w_MASE"] <= row["CNN_w_MASE"]:
        return "ETS"
    return "CNN"

cmp_w["Winner"] = cmp_w.apply(pick_winner_weighted, axis=1)

winner_counts_weighted = (cmp_w.groupby(["Series","Winner"])
                            .size()
                            .reset_index(name="Count")
                            .sort_values(["Series","Winner"]))


# Per-country overall pick (Exports & Imports): winner by series count; tie -> lower avg *weighted* sMAPE
tmp = (cmp_w
       .assign(ETS_win=(cmp_w["Winner"]=="ETS").astype(int),
               CNN_win=(cmp_w["Winner"]=="CNN").astype(int))
       .groupby("Country", as_index=False)
       .agg(ETS_series_wins=("ETS_win","sum"),
            CNN_series_wins=("CNN_win","sum"),
            ETS_avg_w_sMAPE=("ETS_w_sMAPE","mean"),
            CNN_avg_w_sMAPE=("CNN_w_sMAPE","mean")))

def pick_overall(row):
    if row["ETS_series_wins"] > row["CNN_series_wins"]:
        return "ETS"
    if row["CNN_series_wins"] > row["ETS_series_wins"]:
        return "CNN"
    # tie by series wins → lower avg weighted sMAPE
    return "ETS" if row["ETS_avg_w_sMAPE"] <= row["CNN_avg_w_sMAPE"] else "CNN"

country_overall = tmp.copy()
country_overall["Overall_Winner"] = country_overall.apply(pick_overall, axis=1)


# Outputs:
# - cmp_w: row-wise comparison per Country x Series with the winner
# - winner_counts_weighted: how many wins per series per method
# - country_overall: single overall winner per sountry (considering both series)

# quick looks:
# cmp.head()
# winner_counts
# country_overall.head()

In [94]:
country_overall.head()

,Country,ETS_series_wins,CNN_series_wins,ETS_avg_w_sMAPE,CNN_avg_w_sMAPE,Overall_Winner
0,Afghanistan,0,2,104.506622,0.936007,CNN
1,Albania,0,2,43.840741,0.459308,CNN
2,Algeria,0,2,58.130857,0.428239,CNN
3,Andorra,0,2,79.560033,0.648270,CNN
4,Angola,0,2,58.909682,0.443765,CNN

In [116]:
winner_counts_weighted

                             Series Winner  Count
0  Customs Import Value (Gen) ($US)    CNN    195
1         Total Exports Value ($US)    CNN    195

On clean countries, CNN-LSTM beats ETS by recency-weighted sMAPE across both flows (winner count: 195/195). ETS used additive trend + additive seasonality (m=12, optional damping) while CNN-LSTM uses shallow Conv1d + LSTM with early stop.

Since CNN is the clear winner, we will use cnn-lstm to train on 2015-2023 and predict for 2024 but only for the clean_countries_over_time dataset first

In [100]:
pred_rows = []  # (Country, SeriesTag, Month, PredUSD)

for country, g in clean_countries_over_time.groupby("Country"):
    if country not in set(clean_full_countries):
        continue
    for series_tag, col in [("export", EXPORT_COL), ("import", IMPORT_COL)]:
        s = to_ts(g, col)
        y = s.values
        y_log = np.log1p(np.clip(y, a_min=0, a_max=None))

        if len(y_log) < L + H:
            pred_usd = np.tile(y[-12:], 1)
        else:
            # standardize on all 2015–2023 (final fit period)
            mu, sd = float(y_log.mean()), float(y_log.std(ddof=0))
            if sd == 0: sd = 1.0
            y_std = (y_log - mu) / sd

            # supervised windows across full train span
            X, Y = make_supervised(y_std, lookback=L, horizon=H)
            n = X.shape[0]
            split = max(1, int(np.floor(0.9*n)))  # last 10% as val
            X_tr, Y_tr = X[:split], Y[:split]
            X_va, Y_va = (X[split:], Y[split:]) if split < n else (X[:1], Y[:1])

            train_loader = DataLoader(WindowDataset(X_tr, Y_tr), batch_size=64, shuffle=True)
            val_loader   = DataLoader(WindowDataset(X_va, Y_va), batch_size=64, shuffle=False)

            torch.manual_seed(42)
            model = CNNLSTMForecaster(L=L, H=H, in_feats=1,
                                      conv_filters=32, k=5, lstm_units=64, dropout=0.2).to(DEVICE)
            model = train_earlystop(model, train_loader, val_loader, epochs=200, lr=1e-3, patience=20)

            # forecast next 12 from the last lookback window ending Dec-2023
            last_win_std = ((y_log[-L:] - mu) / sd).reshape(1, L, 1)
            with torch.no_grad():
                pred_std = model(torch.from_numpy(last_win_std).float().to(DEVICE)).cpu().numpy().ravel()
            pred_log = pred_std * sd + mu
            pred_usd = np.expm1(pred_log).clip(min=0)

        for m_idx, m in enumerate(range(1, 13)):
            pred_rows.append((country, series_tag, m, float(pred_usd[m_idx])))

pred_df = pd.DataFrame(pred_rows, columns=["Country","Series","Month","Pred"])

# Write into submission (clean countries, Year 2024 only)
mask = submission["Country"].isin(clean_full_countries) & (submission["Year"] == 2024)

exp_map = pred_df.loc[pred_df["Series"]=="export"].set_index(["Country","Month"])["Pred"].to_dict()
imp_map = pred_df.loc[pred_df["Series"]=="import"].set_index(["Country","Month"])["Pred"].to_dict()

submission.loc[mask, "Pred_Export_USD"] = submission.loc[mask, ["Country","Month"]].apply(
    lambda r: exp_map.get((r["Country"], r["Month"])), axis=1
)
submission.loc[mask, "Pred_Import_USD"] = submission.loc[mask, ["Country","Month"]].apply(
    lambda r: imp_map.get((r["Country"], r["Month"])), axis=1
)

#### Post-fit sanity & tiny blends (only for extremes)

We’ll stress-test the clean countries CNN-LSTM forecasts by comparing 2024 vs 2023 totals per flow (Exports/Imports)
Then we’ll classify flagged flows and apply a small seasonal-naive blend. Seasonal-naive forecast simply copies last year’s value month-by-month (eg, 2024-Jan = 2023-Jan). It’s strong for monthly trade because seasonality is stable and it anchors level to the most recent year with very low variance.

Why blend with sNaive? CNN-LSTM can sometimes over-extrapolate large jumps. A convex blend keeps the model’s shape while dampening extremes and preserving seasonal timing. 

So for the next step, we classify flagged flows and apply blends:

1. Consistent extremes (extreme in 2024->2023 and 2023->2022, same direction): keep CNN-LSTM predicitions (no changes)
2. Direction-flip extremes (extreme both year but in opposite direction): apply 40% sNaive blend
3. New extremes (extreme in 2024->2023 only):apply 20% sNaive blend

This keeps most predictions intact, nudges only outliers, and strengthens robustness of the modeling

In [ ]:
THRESH_UP = 2.0  # increasees +200% YoY
THRESH_DOWN = -0.6 # decreases -60% YoY

# seasonal-naive lookups from 2023 actuals (month-matched)
def snaive_map_2023(df, val_col):
    s = (df[df["Year"]==2023][["Country","MonthNum",val_col]]
         .groupby(["Country","MonthNum"], as_index=False).sum())
    return s.set_index(["Country","MonthNum"])[val_col].to_dict()

snaive_exp = snaive_map_2023(clean_countries_over_time, EXPORT_COL)
snaive_imp = snaive_map_2023(clean_countries_over_time, IMPORT_COL)

# Totals for 2023 actuals and 2024 predictions (pre-blend) by country
clean23 = (clean_countries_over_time[clean_countries_over_time["Year"]==2023]
           .groupby("Country")
           .agg(exp23=(EXPORT_COL,"sum"), imp23=(IMPORT_COL,"sum"))
           .reset_index())

pred24  = (submission[(submission["Year"]==2024) & (submission["Country"].isin(clean_full_countries))]
           .groupby("Country")
           .agg(exp24=("Pred_Export_USD","sum"),
                imp24=("Pred_Import_USD","sum"))
           .reset_index())

yoy_24_23 = (clean23.merge(pred24, on="Country", how="inner")
             .assign(exp_yoy_24_23=lambda d: (d["exp24"]/d["exp23"].replace(0,np.nan))-1.0,
                     imp_yoy_24_23=lambda d: (d["imp24"]/d["imp23"].replace(0,np.nan))-1.0))

# Totals for 2022 and 2023 to get 2023->2022 YoY (prior year)
sum_22_23 = (clean_countries_over_time.query("Year in [2022, 2023]")
             .groupby(["Country","Year"], as_index=False)
             .agg(exp_sum=(EXPORT_COL,"sum"), imp_sum=(IMPORT_COL,"sum")))
y23 = sum_22_23.query("Year==2023").rename(columns={"exp_sum":"exp_2023","imp_sum":"imp_2023"})
y22 = sum_22_23.query("Year==2022").rename(columns={"exp_sum":"exp_2022","imp_sum":"imp_2022"})
yoy_23_22 = (y23.merge(y22[["Country","exp_2022","imp_2022"]], on="Country", how="left")
             .assign(exp_yoy_23_22=lambda d: (d["exp_2023"]/d["exp_2022"].replace(0,np.nan))-1.0,
                     imp_yoy_23_22=lambda d: (d["imp_2023"]/d["imp_2022"].replace(0,np.nan))-1.0))

# Build flow-level flag table and categories
def flag(y): return (pd.notna(y)) and ((y>THRESH_UP) or (y<THRESH_DOWN))

rows=[]
for _, r in yoy_24_23.iterrows():
    c = r["Country"]
    rows += [
        {"Country":c,"Flow":"export","YoY_24_23":r["exp_yoy_24_23"]},
        {"Country":c,"Flow":"import","YoY_24_23":r["imp_yoy_24_23"]},
    ]
flow_2423 = pd.DataFrame(rows)

rows=[]
for _, r in yoy_23_22.iterrows():
    c = r["Country"]
    rows += [
        {"Country":c,"Flow":"export","YoY_23_22":r["exp_yoy_23_22"]},
        {"Country":c,"Flow":"import","YoY_23_22":r["imp_yoy_23_22"]},
    ]
flow_2322 = pd.DataFrame(rows)

fl = (flow_2423.merge(flow_2322, on=["Country","Flow"], how="left")
      .assign(Flag_24_23=lambda d: d["YoY_24_23"].apply(flag),
              Flag_23_22=lambda d: d["YoY_23_22"].apply(flag)))

# Category rules
fl["Same_Dir"] = np.sign(fl["YoY_24_23"]) == np.sign(fl["YoY_23_22"])
fl["Category"] = np.select(
    [
        fl["Flag_24_23"] & fl["Flag_23_22"] & fl["Same_Dir"],
        fl["Flag_24_23"] & fl["Flag_23_22"] & (~fl["Same_Dir"]),
        fl["Flag_24_23"] & (~fl["Flag_23_22"]),
    ],
    ["consistent_extreme","direction_flip","new_extreme"],
    default="ok"
)

# Apply blends by category (only for clean countries & flagged flows)
BLENDS = {"consistent_extreme": 0.0,  # keep CNN-LSTM (case 1)
          "direction_flip": 0.4,  # stronger dampening (case 2)
          "new_extreme": 0.2}  # light dampening (case 3)

def apply_blend(country, flow, alpha):
    if alpha <= 0: 
        return
    msk = (submission["Country"].eq(country)) & (submission["Year"].eq(2024))
    months = submission.loc[msk,"Month"].to_numpy()

    if flow=="export":
        svals = np.array([snaive_exp.get((country,m), np.nan) for m in months], dtype=float)
        pred  = submission.loc[msk,"Pred_Export_USD"].to_numpy(dtype=float)
        ok = ~np.isnan(svals)
        pred[ok] = (1.0 - alpha)*pred[ok] + alpha*svals[ok]
        submission.loc[msk,"Pred_Export_USD"] = pred
    else:
        svals = np.array([snaive_imp.get((country,m), np.nan) for m in months], dtype=float)
        pred  = submission.loc[msk,"Pred_Import_USD"].to_numpy(dtype=float)
        ok = ~np.isnan(svals)
        pred[ok] = (1.0 - alpha)*pred[ok] + alpha*svals[ok]
        submission.loc[msk,"Pred_Import_USD"] = pred

flagged = fl[fl["Category"].isin(["consistent_extreme","direction_flip","new_extreme"])].copy()
for _, r in flagged.iterrows():
    apply_blend(r["Country"], r["Flow"], BLENDS[r["Category"]])

# report
report = (flagged.groupby("Category").size()
          .reindex(["consistent_extreme","direction_flip","new_extreme"])
          .rename("Count").fillna(0).astype(int).reset_index())
print(report.to_string(index=False))

## Modeling for countries with slight problems (problem_countries_over_time)

In [42]:
problem_countries_over_time

,Country,Total Exports Value ($US),Customs Import Value (Gen) ($US),Month,Year,MonthNum
0,Bhutan,144054.0,2020.0,Jan,2015,1
1,Bhutan,127794.0,13976.0,Feb,2015,2
2,Bhutan,145709.0,232.0,Mar,2015,3
3,Bhutan,321183.0,19483.0,Apr,2015,4
4,Bhutan,120129.0,16970.0,May,2015,5
...,...,...,...,...,...,...
3908,Western Sahara (through Dec 2020),6824183.0,NaN,Oct,2020,10
3909,Western Sahara (through Dec 2020),NaN,2073.0,Nov,2020,11
3910,Western Sahara (through Dec 2020),NaN,10825.0,Dec,2020,12
3911,Unidentified Countries,40109.0,NaN,Jul,2016,7
3912,Unidentified Countries,1731375.0,NaN,Dec,2016,12

EDA

In [44]:
REQUIRED = 9 * 12  # 108 months
exclude = ["Western Sahara (through Dec 2020)", "Unidentified Countries"] 

# Restrict to problem countries & window, keep one row per (Country, Year, MonthNum)
prob = (problem_countries_over_time
        .query("Year >= 2015 and Year <= 2023 and MonthNum.between(1,12)")
        [["Country","Year","MonthNum", EXPORT_COL, IMPORT_COL]]
        .drop_duplicates(subset=["Country","Year","MonthNum"])
        .copy())

# Build a full 108-month grid per problem country, then left-join actuals
countries_list = (prob["Country"].drop_duplicates()
                  .loc[~prob["Country"].drop_duplicates().isin(exclude)]
                  .tolist())
full_grid = (pd.MultiIndex.from_product([countries_list, range(2015, 2024), range(1,13)],
                                        names=["Country","Year","MonthNum"])
             .to_frame(index=False))

joined = full_grid.merge(prob, on=["Country","Year","MonthNum"], how="left")

# Count non-NA and NA per series
summary = (joined
    .groupby("Country", as_index=False)
    .agg(
        Export_nonNA=(EXPORT_COL, lambda s: s.notna().sum()),
        Import_nonNA=(IMPORT_COL, lambda s: s.notna().sum()),
    )
    .assign(
        Export_NA=lambda d: REQUIRED - d["Export_nonNA"],
        Import_NA=lambda d: REQUIRED - d["Import_nonNA"],
        Expected_Months=REQUIRED
    )
    .sort_values("Country")
    .reset_index(drop=True)
)

summary

,Country,Export_nonNA,Import_nonNA,Export_NA,Import_NA,Expected_Months
0,Bhutan,108,107,0,1,108
1,British Indian Ocean Territories,105,105,3,3,108
2,Burundi,106,108,2,0,108
3,Christmas Island,95,108,13,0,108
4,Cocos (Keeling) Islands,78,108,30,0,108
5,Comoros,104,108,4,0,108
6,Cuba,108,55,0,53,108
7,Eritrea,108,107,0,1,108
8,Falkland Islands (Islas Malvinas),84,108,24,0,108
9,French Guiana,108,101,0,7,108
10,French Southern and Antarctic Lands,108,102,0,6,108
11,Gaza Strip Administered by Israel,56,43,52,65,108
12,Guinea-Bissau,106,91,2,17,108
13,Heard and McDonald Islands,62,68,46,40,108
14,Iran,108,91,0,17,108
15,Kiribati,108,100,0,8,108
16,"Korea, North",16,1,92,107,108
17,Lesotho,106,108,2,0,108
18,Libya,108,107,0,1,108
19,Martinique,108,106,0,2,108
20,Mayotte,101,96,7,12,108
21,Nauru,89,108,19,0,108
22,Niue,49,108,59,0,108
23,Norfolk Island,40,73,68,35,108
24,Pitcairn Islands,32,97,76,11,108
25,San Marino,107,108,1,0,108
26,Sao Tome and Principe,107,108,1,0,108
27,South Sudan,108,88,0,20,108
28,St Helena,74,108,34,0,108
29,St Pierre and Miquelon,43,61,65,47,108
30,"Svalbard, Jan Mayen Island",66,69,42,39,108
31,Syria,106,108,2,0,108
32,Timor-Leste,108,107,0,1,108
33,Tokelau,104,108,4,0,108
34,Tuvalu,90,102,18,6,108
35,Vatican City,50,107,58,1,108
36,Wallis and Futuna,69,72,39,36,108
37,West Bank Administered by Israel,107,108,1,0,108

Based on this, there are several countries who are only missing very few import / export values. 

We will simply use the same CNN-LSTM models for countries that have min(Export_nonNA, Import_nonNA) >= 100 as the quantity of data 
is still sufficient for the model to train on and predict 2024

In [48]:
problem_cnn_countries = (
    summary.loc[(summary['Export_nonNA'] >= 100) & (summary['Import_nonNA'] >= 100), 'Country']
    .sort_values()
    .reset_index(drop=True)
)

# Subset the original 40 country to just these
problem_cnn = problem_countries_over_time[
    problem_countries_over_time['Country'].isin(problem_cnn_countries)
].reset_index(drop=True)

In [61]:
problem_cnn_countries

0                                  Bhutan
1        British Indian Ocean Territories
2                                 Burundi
3                                 Comoros
4                                 Eritrea
5                           French Guiana
6     French Southern and Antarctic Lands
7                                Kiribati
8                                 Lesotho
9                                   Libya
10                             Martinique
11                             San Marino
12                  Sao Tome and Principe
13                                  Syria
14                            Timor-Leste
15                                Tokelau
16       West Bank Administered by Israel
Name: Country, dtype: object

In [50]:
problem_cnn.head()

,Country,Total Exports Value ($US),Customs Import Value (Gen) ($US),Month,Year,MonthNum
0,Bhutan,144054.0,2020.0,Jan,2015,1
1,Bhutan,127794.0,13976.0,Feb,2015,2
2,Bhutan,145709.0,232.0,Mar,2015,3
3,Bhutan,321183.0,19483.0,Apr,2015,4
4,Bhutan,120129.0,16970.0,May,2015,5

In [51]:
# Run CNN-LSTM on problem_cnn countries and write 2024 forecasts into submission

pred_rows = []  # (Country, SeriesTag, Month, PredUSD)

for country, g in problem_cnn.groupby("Country"):
    for series_tag, col in [("export", EXPORT_COL), ("import", IMPORT_COL)]:
        # Monthly series (2015–2023) + light imputation for occasional holes
        s = to_ts(g, col)
        s = s.fillna(s.shift(12))  # same-month last year
        s = s.ffill().bfill()     # fallback fill
        y = s.values
        y_log = np.log1p(np.clip(y, a_min=0, a_max=None))

        # Guard: need enough history for windows; else use seasonal-naive (2023→2024)
        if (len(y_log) < L + H) or np.isnan(y_log).any():
            pred_usd = y[-12:].copy()
        else:
            # Standardize on full 2015–2023 span
            mu, sd = float(y_log.mean()), float(y_log.std(ddof=0))
            if sd == 0: sd = 1.0
            y_std = (y_log - mu) / sd

            # Supervised windows + small time-ordered val split
            X, Y = make_supervised(y_std, lookback=L, horizon=H)
            n = X.shape[0]
            split = max(1, int(np.floor(0.9*n)))
            X_tr, Y_tr = X[:split], Y[:split]
            X_va, Y_va = (X[split:], Y[split:]) if split < n else (X[:1], Y[:1])

            train_loader = DataLoader(WindowDataset(X_tr, Y_tr), batch_size=64, shuffle=True)
            val_loader   = DataLoader(WindowDataset(X_va, Y_va), batch_size=64, shuffle=False)

            # Train + forecast next 12 from the last lookback window (ends 2023-12)
            torch.manual_seed(42)
            model = CNNLSTMForecaster(L=L, H=H, in_feats=1, conv_filters=32, k=5, lstm_units=64, dropout=0.2).to(DEVICE)
            model = train_earlystop(model, train_loader, val_loader, epochs=200, lr=1e-3, patience=20)

            last_win_std = ((y_log[-L:] - mu) / sd).reshape(1, L, 1)
            with torch.no_grad():
                pred_std = model(torch.from_numpy(last_win_std).float().to(DEVICE)).cpu().numpy().ravel()
            pred_log = pred_std * sd + mu
            pred_usd = np.expm1(pred_log).clip(min=0)

        for m_idx, m in enumerate(range(1, 13)):
            pred_rows.append((country, series_tag, m, float(pred_usd[m_idx])))

pred_df = pd.DataFrame(pred_rows, columns=["Country","Series","Month","Pred"])

# Write into submission for these countries (Year 2024 only)
mask = submission["Country"].isin(problem_cnn["Country"].unique()) & (submission["Year"] == 2024)

exp_map = pred_df.loc[pred_df["Series"]=="export"].set_index(["Country","Month"])["Pred"].to_dict()
imp_map = pred_df.loc[pred_df["Series"]=="import"].set_index(["Country","Month"])["Pred"].to_dict()

submission.loc[mask, "Pred_Export_USD"] = submission.loc[mask, ["Country","Month"]].apply(
    lambda r: exp_map.get((r["Country"], r["Month"])), axis=1
)
submission.loc[mask, "Pred_Import_USD"] = submission.loc[mask, ["Country","Month"]].apply(
    lambda r: imp_map.get((r["Country"], r["Month"])), axis=1
)

In [55]:
submission[submission['Pred_Export_USD'].isna()]['Country'].nunique()

21

### Post-fit sanity for problem_cnn (same idea as clean set before)

We’ll re-run the exact flagging logic on the problem_cnn countries and apply the same tiny, flow-level blends:

1. Direction_flip: blend 40% sNaive
2. New_extreme: blend 20% sNaive
(See earlier section for the rationale)

In [107]:
prob_cnn_set = set(problem_cnn["Country"].unique())

# Seasonal-naive maps from 2023 actuals for problem_cnn
def snaive_map_2023(df, val_col):
    s = (df[df["Year"]==2023][["Country","MonthNum",val_col]]
         .groupby(["Country","MonthNum"], as_index=False).sum())
    return s.set_index(["Country","MonthNum"])[val_col].to_dict()

snaive_exp_prob = snaive_map_2023(problem_cnn, EXPORT_COL)
snaive_imp_prob = snaive_map_2023(problem_cnn, IMPORT_COL)

# 2024 (pred) and 2023 (actual) totals for problem_cnn
prob23 = (problem_cnn[problem_cnn["Year"]==2023]
          .groupby("Country")
          .agg(exp23=(EXPORT_COL,"sum"), imp23=(IMPORT_COL,"sum"))
          .reset_index())

prob24 = (submission[(submission["Year"]==2024) & (submission["Country"].isin(prob_cnn_set))]
          .groupby("Country")
          .agg(exp24=("Pred_Export_USD","sum"),
               imp24=("Pred_Import_USD","sum"))
          .reset_index())

yoy_24_23_prob = (prob23.merge(prob24, on="Country", how="inner")
                  .assign(exp_yoy_24_23=lambda d: (d["exp24"]/d["exp23"].replace(0,np.nan))-1.0,
                          imp_yoy_24_23=lambda d: (d["imp24"]/d["imp23"].replace(0,np.nan))-1.0))

# Prior year YoY (2023->2022) from actuals
sum_22_23_prob = (problem_cnn.query("Year in [2022, 2023]")
                  .groupby(["Country","Year"], as_index=False)
                  .agg(exp_sum=(EXPORT_COL,"sum"), imp_sum=(IMPORT_COL,"sum")))
y23p = sum_22_23_prob.query("Year==2023").rename(columns={"exp_sum":"exp_2023","imp_sum":"imp_2023"})
y22p = sum_22_23_prob.query("Year==2022").rename(columns={"exp_sum":"exp_2022","imp_sum":"imp_2022"})
yoy_23_22_prob = (y23p.merge(y22p[["Country","exp_2022","imp_2022"]], on="Country", how="left")
                  .assign(exp_yoy_23_22=lambda d: (d["exp_2023"]/d["exp_2022"].replace(0,np.nan))-1.0,
                          imp_yoy_23_22=lambda d: (d["imp_2023"]/d["imp_2022"].replace(0,np.nan))-1.0))

# Flow level flags & categories
def flag(y): return (pd.notna(y)) and ((y>THRESH_UP) or (y<THRESH_DOWN))

rows=[]
for _, r in yoy_24_23_prob.iterrows():
    c=r["Country"]
    rows += [{"Country":c,"Flow":"export","YoY_24_23":r["exp_yoy_24_23"]},
             {"Country":c,"Flow":"import","YoY_24_23":r["imp_yoy_24_23"]}]
fl_2423 = pd.DataFrame(rows)

rows=[]
for _, r in yoy_23_22_prob.iterrows():
    c=r["Country"]
    rows += [{"Country":c,"Flow":"export","YoY_23_22":r["exp_yoy_23_22"]},
             {"Country":c,"Flow":"import","YoY_23_22":r["imp_yoy_23_22"]}]
fl_2322 = pd.DataFrame(rows)

fl_prob = (fl_2423.merge(fl_2322, on=["Country","Flow"], how="left")
           .assign(Flag_24_23=lambda d: d["YoY_24_23"].apply(flag),
                   Flag_23_22=lambda d: d["YoY_23_22"].apply(flag)))
fl_prob["Same_Dir"] = np.sign(fl_prob["YoY_24_23"]) == np.sign(fl_prob["YoY_23_22"])
fl_prob["Category"] = np.select(
    [
        fl_prob["Flag_24_23"] & fl_prob["Flag_23_22"] & fl_prob["Same_Dir"],
        fl_prob["Flag_24_23"] & fl_prob["Flag_23_22"] & (~fl_prob["Same_Dir"]),
        fl_prob["Flag_24_23"] & (~fl_prob["Flag_23_22"]),
    ],
    ["consistent_extreme","direction_flip","new_extreme"],
    default="ok"
)

# Apply blends (direction_flip=0.4, new_extreme=0.2, consistent_extreme=0.0)
BLENDS = {"consistent_extreme": 0.0, "direction_flip": 0.4, "new_extreme": 0.2}

def apply_blend_prob(country, flow, alpha):
    if alpha <= 0: 
        return
    msk = (submission["Country"].eq(country)) & (submission["Year"].eq(2024))
    months = submission.loc[msk,"Month"].to_numpy()

    if flow=="export":
        svals = np.array([snaive_exp_prob.get((country,m), np.nan) for m in months], dtype=float)
        pred  = submission.loc[msk,"Pred_Export_USD"].to_numpy(dtype=float)
        ok = ~np.isnan(svals)
        pred[ok] = (1.0 - alpha)*pred[ok] + alpha*svals[ok]
        submission.loc[msk,"Pred_Export_USD"] = pred
    else:
        svals = np.array([snaive_imp_prob.get((country,m), np.nan) for m in months], dtype=float)
        pred  = submission.loc[msk,"Pred_Import_USD"].to_numpy(dtype=float)
        ok = ~np.isnan(svals)
        pred[ok] = (1.0 - alpha)*pred[ok] + alpha*svals[ok]
        submission.loc[msk,"Pred_Import_USD"] = pred

flagged_prob = fl_prob[fl_prob["Category"].isin(["direction_flip","new_extreme","consistent_extreme"])].copy()
for _, r in flagged_prob.iterrows():
    apply_blend_prob(r["Country"], r["Flow"], BLENDS[r["Category"]])

# Report
report_prob = (flagged_prob.groupby("Category").size()
               .reindex(["consistent_extreme","direction_flip","new_extreme"])
               .rename("Count").fillna(0).astype(int).reset_index())
print("Problem CNN countries — blended flows by category:")
print(report_prob.to_string(index=False))

Problem CNN countries — blended flows by category:
          Category  Count
consistent_extreme      0
    direction_flip      3
       new_extreme      5

## Last Modeling for the remaining countries with many problems

In [64]:
remaining_problem_countries = problem_countries_over_time[~problem_countries_over_time['Country'].isin(problem_cnn_countries) &
                                ~problem_countries_over_time['Country'].isin(exclude)]

remaining_problem_countries['Country'].nunique()

21

In [65]:
remaining_problem_countries

,Country,Total Exports Value ($US),Customs Import Value (Gen) ($US),Month,Year,MonthNum
324,Christmas Island,216544.0,180980.0,Jan,2015,1
325,Christmas Island,106497.0,150326.0,Feb,2015,2
326,Christmas Island,NaN,139512.0,Mar,2015,3
327,Christmas Island,71617.0,315993.0,Apr,2015,4
328,Christmas Island,13922.0,218077.0,May,2015,5
...,...,...,...,...,...,...
3758,Wallis and Futuna,20033.0,NaN,Jul,2023,7
3759,Wallis and Futuna,39540.0,NaN,Aug,2023,8
3760,Wallis and Futuna,NaN,804.0,Sep,2023,9
3761,Wallis and Futuna,NaN,3837.0,Oct,2023,10
3762,Wallis and Futuna,NaN,28125.0,Nov,2023,11

In [68]:
remaining_problem_countries['Country'].unique()

array(['Christmas Island', 'Cocos (Keeling) Islands', 'Cuba',
       'Falkland Islands (Islas Malvinas)',
       'Gaza Strip Administered by Israel', 'Guinea-Bissau',
       'Heard and McDonald Islands', 'Iran', 'Korea, North', 'Mayotte',
       'Nauru', 'Niue', 'Norfolk Island', 'Pitcairn Islands',
       'South Sudan', 'St Helena', 'St Pierre and Miquelon',
       'Svalbard, Jan Mayen Island', 'Tuvalu', 'Vatican City',
       'Wallis and Futuna'], dtype=object)

Lets do some data exploration on what are the specific problems of these countries

In [69]:
# Deep-dive the 21 remaining countries: earliest non-NA, 2015–2023 coverage, and 2023 completeness

targets = (remaining_problem_countries['Country']
           .drop_duplicates().sort_values().tolist())

rows = []
for c in targets:
    g = remaining_problem_countries[remaining_problem_countries['Country'] == c]

    # Earliest non-NA overall
    e_exp = (g.loc[g[EXPORT_COL].notna(), ['Year','MonthNum']]
               .sort_values(['Year','MonthNum']).head(1))
    e_imp = (g.loc[g[IMPORT_COL].notna(), ['Year','MonthNum']]
               .sort_values(['Year','MonthNum']).head(1))

    first_exp_year  = int(e_exp['Year'].iloc[0])     if not e_exp.empty else None
    first_exp_month = int(e_exp['MonthNum'].iloc[0]) if not e_exp.empty else None
    first_imp_year  = int(e_imp['Year'].iloc[0])     if not e_imp.empty else None
    first_imp_month = int(e_imp['MonthNum'].iloc[0]) if not e_imp.empty else None

    # Window 2015–2023
    w = g[(g['Year']>=2015) & (g['Year']<=2023)]
    exp_nonNA_108 = int(w[EXPORT_COL].notna().sum())
    imp_nonNA_108 = int(w[IMPORT_COL].notna().sum())

    # 2023 slice
    w23 = w[w['Year']==2023]
    months_2023 = int(w23['MonthNum'].nunique())
    exp_2023_nonNA = int(w23[EXPORT_COL].notna().sum())
    imp_2023_nonNA = int(w23[IMPORT_COL].notna().sum())

    rows.append({
        'Country': c,
        'First_Export_Year': first_exp_year,
        'First_Export_MonthNum': first_exp_month,
        'First_Import_Year': first_imp_year,
        'First_Import_MonthNum': first_imp_month,
        'Export_nonNA_2015_2023': exp_nonNA_108,
        'Import_nonNA_2015_2023': imp_nonNA_108,
        'Months_2023_present': months_2023,
        'Export_nonNA_2023': exp_2023_nonNA,
        'Import_nonNA_2023': imp_2023_nonNA,
    })

last_problem_countries = pd.DataFrame(rows).sort_values('Country').reset_index(drop=True)
last_problem_countries

,Country,First_Export_Year,First_Export_MonthNum,First_Import_Year,First_Import_MonthNum,Export_nonNA_2015_2023,Import_nonNA_2015_2023,Months_2023_present,Export_nonNA_2023,Import_nonNA_2023
0,Christmas Island,2015,1,2015,1,95,108,12,9,12
1,Cocos (Keeling) Islands,2015,2,2015,1,78,108,12,9,12
2,Cuba,2015,1,2018,7,108,55,12,12,12
3,Falkland Islands (Islas Malvinas),2015,1,2015,1,84,108,12,9,12
4,Gaza Strip Administered by Israel,2015,1,2015,7,56,43,7,5,5
5,Guinea-Bissau,2015,1,2015,1,106,91,12,12,8
6,Heard and McDonald Islands,2015,1,2015,1,62,68,9,7,6
7,Iran,2015,1,2015,12,108,91,12,12,11
8,"Korea, North",2015,1,2022,9,16,1,2,2,0
9,Mayotte,2015,1,2015,2,101,96,12,11,12
10,Nauru,2015,1,2015,1,89,108,12,11,12
11,Niue,2015,3,2015,1,49,108,12,1,12
12,Norfolk Island,2015,1,2015,1,40,73,9,1,9
13,Pitcairn Islands,2015,1,2015,1,32,97,12,9,12
14,South Sudan,2015,1,2015,2,108,88,12,12,12
15,St Helena,2015,1,2015,1,74,108,12,5,12
16,St Pierre and Miquelon,2015,1,2015,1,43,61,8,6,3
17,"Svalbard, Jan Mayen Island",2015,3,2015,2,66,69,9,6,6
18,Tuvalu,2015,1,2015,1,90,102,12,7,12
19,Vatican City,2015,1,2015,1,50,107,11,5,11
20,Wallis and Futuna,2015,1,2015,6,69,72,11,8,7

This is our modeling plan for the last remaining 21 countries:

1. CNN-LSTM: when nonNA_2015_2023 ≥ 100 (out of 108)
Reason: There is enough consecutive history to form multiple L=24 → H=12 training windows and a hold-out slice. In our clean set, CNN-LSTM consistently beat ETS, capturing nonlinear seasonal motifs (CNN) and medium-term dynamics (LSTM). With ≥100 points, variance is controlled and the gain is reproducible.

2. Seasonal-Naive (copy 2023 to predict 2024): when nonNA < 100 and full2023 = True
Reason: Monthly trade is strongly seasonal and recent levels matter more than older, spotty history. When the latest seasonal cycle is complete, sNaive is a low-variance, hard-to-beat baseline that preserves level and seasonality without overfitting sparse earlier years.

3. Theta + light imputation: when nonNA < 100 and full2023 = False (but ≳24 total points)

Impute: same-month last year -> LOCF -> last overall (keeps seasonal structure, avoids heavy fabrication).
Reason: A robust univariate trend model with period=12 that performs well on short/patchy series. It adds seasonal structure and a stabilized trend without the data hunger of deep nets or the fragility of SARIMA on gaps.

In [72]:
def light_impute_2015_2023(s: pd.Series) -> pd.Series:
    s = s.asfreq("MS")
    s = s[(s.index.year >= 2015) & (s.index.year <= 2023)]
    s = s.fillna(s.shift(12))  # same month last year
    s = s.ffill().bfill()
    return s

def snaive_from_2023(s: pd.Series) -> np.ndarray:
    y2023 = s[s.index.year == 2023]
    return y2023.values

# prepare routing metadata per series 
# Counts 2015–2023
cnts = (remaining_problem_countries
        .query("Year >= 2015 and Year <= 2023")
        .groupby("Country")
        .agg(exp_nonNA_108=(EXPORT_COL, lambda s: s.notna().sum()),
             imp_nonNA_108=(IMPORT_COL, lambda s: s.notna().sum()))
        .reset_index())

# 2023 completeness flags from the `check_2023`
flags = check_2023[["Country","full_2023_export","full_2023_import"]]

route = cnts.merge(flags, on="Country", how="left")

pred_rows = []  # (Country, SeriesTag, Month, PredUSD)

for _, row in route.iterrows():
    country = row["Country"]
    g = remaining_problem_countries[remaining_problem_countries["Country"] == country]

    for series_tag, col, nonna_key, full_key in [
        ("export", EXPORT_COL, "exp_nonNA_108", "full_2023_export"),
        ("import", IMPORT_COL, "imp_nonNA_108", "full_2023_import"),
    ]:
        nonna = int(row[nonna_key])
        full23 = bool(row[full_key])

        # Build monthly series (2015–2023) for this series
        s_raw = to_ts(g, col)

        if nonna >= 100:
            # ---- CNN-LSTM path ----
            s = s_raw.fillna(s_raw.shift(12)).ffill().bfill()
            y = s.values
            y_log = np.log1p(np.clip(y, a_min=0, a_max=None))

            # guard: if somehow too short after impute, fall to sNaive/Theta below
            if len(y_log) >= L + H and not np.isnan(y_log).any():
                mu, sd = float(y_log.mean()), float(y_log.std(ddof=0))
                if sd == 0: sd = 1.0
                y_std = (y_log - mu) / sd

                X, Y = make_supervised(y_std, lookback=L, horizon=H)
                n = X.shape[0]; split = max(1, int(np.floor(0.9*n)))
                X_tr, Y_tr = X[:split], Y[:split]
                X_va, Y_va = (X[split:], Y[split:]) if split < n else (X[:1], Y[:1])

                train_loader = DataLoader(WindowDataset(X_tr, Y_tr), batch_size=64, shuffle=True)
                val_loader   = DataLoader(WindowDataset(X_va, Y_va), batch_size=64, shuffle=False)

                torch.manual_seed(42)
                model = CNNLSTMForecaster(L=L, H=H, in_feats=1,
                                          conv_filters=32, k=5, lstm_units=64, dropout=0.2).to(DEVICE)
                model = train_earlystop(model, train_loader, val_loader, epochs=200, lr=1e-3, patience=20)

                last_win_std = ((y_log[-L:] - mu) / sd).reshape(1, L, 1)
                with torch.no_grad():
                    pred_std = model(torch.from_numpy(last_win_std).float().to(DEVICE)).cpu().numpy().ravel()
                pred_log = pred_std * sd + mu
                pred_usd = np.expm1(pred_log).clip(min=0)
            else:
                # fallback if CNN conditions unexpectedly fail
                s_imp = light_impute_2015_2023(s_raw)
                pred_usd = snaive_from_2023(s_imp)

        elif full23:
            # sNaive path (copy 2023->2024) 
            s_imp = light_impute_2015_2023(s_raw) 
            pred_usd = snaive_from_2023(s_imp)

        else:
            # Theta + light impute path 
            s_imp = light_impute_2015_2023(s_raw)
            if s_imp.isna().any() or len(s_imp) < 24:
                pred_usd = snaive_from_2023(s_imp) if (s_imp[s_imp.index.year==2023].notna().sum()==12) else \
                           np.array([s_imp[(s_imp.index.year<2023) & (s_imp.index.month==m)].dropna().iloc[-1]
                                     if len(s_imp[(s_imp.index.year<2023) & (s_imp.index.month==m)].dropna())>0
                                     else s_imp.dropna().iloc[-1]
                                     for m in range(1,13)], dtype=float)
            else:
                try:
                    fit = ThetaModel(s_imp, period=12).fit()
                    pred_usd = fit.forecast(12).values
                except Exception:
                    pred_usd = snaive_from_2023(s_imp)

        for m_idx, m in enumerate(range(1, 13)):
            pred_rows.append((country, series_tag, m, float(pred_usd[m_idx])))

# Write into submission for Year 2024 
pred_df = pd.DataFrame(pred_rows, columns=["Country","Series","Month","Pred"])
mask = (submission["Country"].isin(route["Country"])) & (submission["Year"] == 2024)

exp_map = pred_df.loc[pred_df["Series"]=="export"].set_index(["Country","Month"])["Pred"].to_dict()
imp_map = pred_df.loc[pred_df["Series"]=="import"].set_index(["Country","Month"])["Pred"].to_dict()

submission.loc[mask, "Pred_Export_USD"] = submission.loc[mask, ["Country","Month"]]\
    .apply(lambda r: exp_map.get((r["Country"], r["Month"])), axis=1)
submission.loc[mask, "Pred_Import_USD"] = submission.loc[mask, ["Country","Month"]]\
    .apply(lambda r: imp_map.get((r["Country"], r["Month"])), axis=1)

/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/stattools.py:693: RuntimeWarning: invalid value encountered in divide
  acf = avf[: nlags + 1] / avf[0]
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_filter.py:1034: RuntimeWarning: divide by zero encountered in log
  loglike += -0.5 * nobs_k_endog * np.log(scale)
/Applications/anaconda3/lib/python3.12/site-packages/scipy/optimize/_numdiff.py:590: RuntimeWarning: invalid value encountered in subtract
  df = fun(x) - f0
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_filter.py:1780: RuntimeWarning: divide by zero encountered in log
  (self.k_endog - nmissing - nsingular) * np.log(self.scale)
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_filter.py:1781: RuntimeWarning: invalid value encountered in divide
  + scale_obs / self.scale)
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_filter.py:1805: RuntimeWarning: invalid value encountered in divide
  self.tmp2 = self.tmp2 / self.scale
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_filter.py:1806: RuntimeWarning: divide by zero encountered in divide
  self.tmp3 = self.tmp3 / self.scale
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_filter.py:1812: RuntimeWarning: invalid value encountered in divide
  self._standardized_forecasts_error / self.scale**0.5)
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_smoother.py:730: RuntimeWarning: invalid value encountered in divide
  self.scaled_smoothed_estimator_presample /= self.scale
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_smoother.py:731: RuntimeWarning: invalid value encountered in divide
  self.scaled_smoothed_estimator /= self.scale
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_smoother.py:732: RuntimeWarning: divide by zero encountered in divide
  self.scaled_smoothed_estimator_cov_presample /= self.scale
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_smoother.py:733: RuntimeWarning: divide by zero encountered in divide
  self.scaled_smoothed_estimator_cov /= self.scale
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_smoother.py:733: RuntimeWarning: invalid value encountered in divide
  self.scaled_smoothed_estimator_cov /= self.scale
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_smoother.py:734: RuntimeWarning: invalid value encountered in divide
  self.smoothing_error /= self.scale
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_filter.py:1105: RuntimeWarning: divide by zero encountered in log
  (self.k_endog - nmissing - nsingular) * np.log(scale) +
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_filter.py:1105: RuntimeWarning: invalid value encountered in multiply
  (self.k_endog - nmissing - nsingular) * np.log(scale) +
/Applications/anaconda3/lib/python3.12/site-packages/statsmodels/tsa/statespace/kalman_filter.py:1106: RuntimeWarning: invalid value encountered in divide
  scale_obs / scale)

#### Sanity-check the remaining_problem_countries (same routine as the 2 previous datasets)

Run the same YoY flags and tiny sNaive blends as before:

1. Direction_flip: 40% sNaive
2. New_extreme: 20%
3. Consistent_extreme: 0% (no change)


This will also update submission in place for Year 2024.

In [108]:
BLENDS = {"consistent_extreme": 0.0, "direction_flip": 0.4, "new_extreme": 0.2}

rem_set = set(remaining_problem_countries["Country"].unique())

# seasonal-naive maps from 2023 actuals (month-matched) for this subset
def snaive_map_2023(df, val_col):
    s = (df[df["Year"]==2023][["Country","MonthNum",val_col]]
         .groupby(["Country","MonthNum"], as_index=False).sum())
    return s.set_index(["Country","MonthNum"])[val_col].to_dict()

snaive_exp_rem = snaive_map_2023(remaining_problem_countries, EXPORT_COL)
snaive_imp_rem = snaive_map_2023(remaining_problem_countries, IMPORT_COL)

# 2024 predicted totals and 2023 actual totals
rem23 = (remaining_problem_countries[remaining_problem_countries["Year"]==2023]
         .groupby("Country")
         .agg(exp23=(EXPORT_COL,"sum"), imp23=(IMPORT_COL,"sum"))
         .reset_index())

rem24 = (submission[(submission["Year"]==2024) & (submission["Country"].isin(rem_set))]
         .groupby("Country")
         .agg(exp24=("Pred_Export_USD","sum"),
              imp24=("Pred_Import_USD","sum"))
         .reset_index())

yoy_24_23_rem = (rem23.merge(rem24, on="Country", how="inner")
                 .assign(exp_yoy_24_23=lambda d: (d["exp24"]/d["exp23"].replace(0,np.nan))-1.0,
                         imp_yoy_24_23=lambda d: (d["imp24"]/d["imp23"].replace(0,np.nan))-1.0))

# prior-year (2023→2022)
sum_22_23_rem = (remaining_problem_countries.query("Year in [2022, 2023]")
                 .groupby(["Country","Year"], as_index=False)
                 .agg(exp_sum=(EXPORT_COL,"sum"), imp_sum=(IMPORT_COL,"sum")))
y23r = sum_22_23_rem.query("Year==2023").rename(columns={"exp_sum":"exp_2023","imp_sum":"imp_2023"})
y22r = sum_22_23_rem.query("Year==2022").rename(columns={"exp_sum":"exp_2022","imp_sum":"imp_2022"})
yoy_23_22_rem = (y23r.merge(y22r[["Country","exp_2022","imp_2022"]], on="Country", how="left")
                 .assign(exp_yoy_23_22=lambda d: (d["exp_2023"]/d["exp_2022"].replace(0,np.nan))-1.0,
                         imp_yoy_23_22=lambda d: (d["imp_2023"]/d["imp_2022"].replace(0,np.nan))-1.0))

# build flow-level table + flags + categories
def _flag(y): return (pd.notna(y)) and ((y>THRESH_UP) or (y<THRESH_DOWN))

rows=[]
for _, r in yoy_24_23_rem.iterrows():
    c=r["Country"]
    rows += [{"Country":c,"Flow":"export","YoY_24_23":r["exp_yoy_24_23"]},
             {"Country":c,"Flow":"import","YoY_24_23":r["imp_yoy_24_23"]}]
fl_2423 = pd.DataFrame(rows)

rows=[]
for _, r in yoy_23_22_rem.iterrows():
    c=r["Country"]
    rows += [{"Country":c,"Flow":"export","YoY_23_22":r["exp_yoy_23_22"]},
             {"Country":c,"Flow":"import","YoY_23_22":r["imp_yoy_23_22"]}]
fl_2322 = pd.DataFrame(rows)

fl_rem = (fl_2423.merge(fl_2322, on=["Country","Flow"], how="left")
          .assign(Flag_24_23=lambda d: d["YoY_24_23"].apply(_flag),
                  Flag_23_22=lambda d: d["YoY_23_22"].apply(_flag)))
fl_rem["Same_Dir"] = np.sign(fl_rem["YoY_24_23"]) == np.sign(fl_rem["YoY_23_22"])
fl_rem["Category"] = np.select(
    [
        fl_rem["Flag_24_23"] & fl_rem["Flag_23_22"] & fl_rem["Same_Dir"],
        fl_rem["Flag_24_23"] & fl_rem["Flag_23_22"] & (~fl_rem["Same_Dir"]),
        fl_rem["Flag_24_23"] & (~fl_rem["Flag_23_22"]),
    ],
    ["consistent_extreme","direction_flip","new_extreme"],
    default="ok"
)

# apply blends per category (updates submission)
def apply_blend(country, flow, alpha):
    if alpha <= 0: 
        return
    msk = (submission["Country"].eq(country)) & (submission["Year"].eq(2024))
    months = submission.loc[msk,"Month"].to_numpy()
    if flow=="export":
        svals = np.array([snaive_exp_rem.get((country,m), np.nan) for m in months], dtype=float)
        pred  = submission.loc[msk,"Pred_Export_USD"].to_numpy(dtype=float)
        ok = ~np.isnan(svals)
        pred[ok] = (1.0 - alpha)*pred[ok] + alpha*svals[ok]
        submission.loc[msk,"Pred_Export_USD"] = pred
    else:
        svals = np.array([snaive_imp_rem.get((country,m), np.nan) for m in months], dtype=float)
        pred  = submission.loc[msk,"Pred_Import_USD"].to_numpy(dtype=float)
        ok = ~np.isnan(svals)
        pred[ok] = (1.0 - alpha)*pred[ok] + alpha*svals[ok]
        submission.loc[msk,"Pred_Import_USD"] = pred

flagged_rem = fl_rem[fl_rem["Category"]!="ok"].copy()
for _, r in flagged_rem.iterrows():
    apply_blend(r["Country"], r["Flow"], BLENDS[r["Category"]])

# report
report_rem = (flagged_rem.groupby("Category").size()
              .reindex(["consistent_extreme","direction_flip","new_extreme"])
              .rename("Count").fillna(0).astype(int).reset_index())
print("Remaining-problem countries — blended flows by category:")
print(report_rem.to_string(index=False))

# peek at some flagged rows
display(flagged_rem.sort_values(["Country","Flow"]).head(20))

Remaining-problem countries — blended flows by category:
          Category  Count
consistent_extreme      1
    direction_flip      7
       new_extreme      5

,Country,Flow,YoY_24_23,YoY_23_22,Flag_24_23,Flag_23_22,Same_Dir,Category
1,Christmas Island,import,-0.901925,4.474368,True,True,False,direction_flip
7,Falkland Islands (Islas Malvinas),import,-0.827514,-0.141371,True,False,True,new_extreme
8,Gaza Strip Administered by Israel,export,10.431641,-0.944862,True,True,False,direction_flip
9,Gaza Strip Administered by Israel,import,7.105889,-0.786231,True,True,False,direction_flip
11,Guinea-Bissau,import,-0.788506,37.442770,True,True,False,direction_flip
13,Heard and McDonald Islands,import,5.190801,-0.829062,True,True,False,direction_flip
15,Iran,import,-1.460342,-0.801091,True,True,True,consistent_extreme
16,"Korea, North",export,3.185564,NaN,True,False,False,new_extreme
22,Niue,export,46.288433,-0.978670,True,True,False,direction_flip
24,Norfolk Island,export,3.844072,1.421448,True,False,True,new_extreme
25,Norfolk Island,import,-1.092124,1.400123,True,False,False,new_extreme
30,St Helena,export,225.142362,-0.980064,True,True,False,direction_flip
37,Tuvalu,import,-0.892615,1.400650,True,False,False,new_extreme

And finally, now that we have done ALL countries prediction, finalize the submission:

In [112]:
for c in ["Pred_Export_USD", "Pred_Import_USD"]:
    submission[c] = pd.to_numeric(submission[c], errors="coerce").round(2)

# Final save
submission.to_csv("Countries_Prediction_Submission.csv", index=False)